body {
     background-image: url("./image/usa_background.png")
}

div.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }

#area {
    margin-left: auto;
    margin-right: auto;
}
